body {
  font-family: arial;
}
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
#content {
  position: relative;
  width: 80%;
  max-width: 900px;
  margin: auto;
}

.image-container {
  width: 100%;
  overflow: hidden;
}
img {
  width: 100%;
}
#StateNavigation li {
  position: absolute;
  color: #ffffff;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}
#StateNavigation a,
#StateNavigation a:link,
#StateNavigation a:visited,
#StateNavigation a:hover {
  display: block;
  color: #ffffff;
  transition: all 300ms ease-in;
}
#StateNavigation a:hover {
  color: #eee;
  transform: scale(1.2);
}



#StateNavigation #AR {
  top: 55%;
  left: 62%;
}
#StateNavigation #AZ {
  top: 55%;
  left: 26%;
}
#StateNavigation #CA {
  top: 42%;
  left: 12%;
}
#StateNavigation #OR {
  top: 19%;
  left: 14%;
}
#StateNavigation #LA {
  top: 66%;
  left: 62.5%;
}
#StateNavigation #NV {
  top: 37%;
  left: 18%;
}
#StateNavigation #NM {
  top: 55%;
  left: 26%;
}
#StateNavigation #UT {
  top: 40%;
  left: 27%;
}
#StateNavigation #CO {
  top: 42%;
  left: 38%;
}
#StateNavigation #ID {
  top: 23%;
  left: 24%;
}
#StateNavigation #MT {
  top: 15%;
  left: 32%;
}
#StateNavigation #ND {
  top: 14%;
  left: 47%;
}
#StateNavigation #SD {
  top: 24%;
  left: 47%;
}
#StateNavigation #NE {
  top: 33%;
  left: 47%;
}
#StateNavigation #OK {
  top: 55%;
  left: 26%;
}
#StateNavigation #TX {
  top: 55%;
  left: 26%;
}
#StateNavigation #KS {
  top: 43%;
  left: 50%;
}
#StateNavigation #IA {
  top: 55%;
  left: 26%;
}
#StateNavigation #WY {
  top: 28%;
  left: 35%;
}
#StateNavigation #TX {
  top: 66%;
  left: 49%;
}
#StateNavigation #OK {
  top: 53%;
  left: 52%;
}
#StateNavigation #NM {
  top: 57%;
  left: 36%;
}
#StateNavigation #IA {
  top: 31%;
  left: 59%;
}
#StateNavigation #MN {
  top: 20%;
  left: 56%;
}
#StateNavigation #MO {
  top: 43%;
  left: 61%;
}
#StateNavigation #WA {
  top: 9%;
  left: 16%;
}
