.hero {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.hero h1 {
  font-size: 3.3em;
  color: #fff;
  text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
}
#WA.hero {
  background-image: url("../img/washington_hero.jpg");
}
#OR.hero {
  background-image: url("../img/oregon_hero.jpg");
}
#CA.hero {
  background-image: url("../img/california_hero.jpg");
}
#ID.hero {
  background-image: url("../img/idaho_hero.jpg");
}
#MT.hero {
  background-image: url("../img/montana_hero.jpg");
}
#NV.hero {
  background-image: url("../img/nevada_hero.jpg");
}
#AZ.hero {
  background-image: url("../img/arizona_hero.jpg");
}
#NM.hero {
  background-image: url("../img/new_mexico_hero.jpg");
}